<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <div class="dashboard-container">

        <h2>Bem-vindo(a), <%= username %>!</h2>

        <form action="/" method="GET">
            <button type="submit" class="access-button">Acessar</button>
        </form>

        <form action="/logout" method="POST">
            <button type="submit" class="logout-button">Sair</button>
        </form>
    </div>

</body>
</html>